/*  your css code here. If applicable */
.card{
	background-color: #f5f5f5;
	padding: 2rem;
	width: 300px;
	text-align:center;
}

button{
	color: white;
	background-color: orangered;
	border:none;
	padding: 15px;
	border-radius: 8px;
}